 html, body {
    background: url(assets/background.jpg) no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    }

    h1, h2 {
      color: black;
    }

    body {
      text-align: center;
      margin-top: 40px;
    }

    .parent {
      width: 30%;
      margin: 0 auto;
  }
    
    header{
    height: 25px;
    }
    header nav ul{
    display: flex;
    margin-left: 80%;
    }
    
    header nav ul li{
    padding-left: 10%;
    }

    .spacer {
      height: 20px;
    }

   